In [1]:
import altair as alt
import pandas as pd

In [2]:
df = pd.read_csv("genomes_submission_delays.tsv", sep="\t")

In [3]:
df.head()

  month_sample_collection country_code country_exposure  turnaround_time_days
0                 2020-03          GBR   United Kingdom                   102
1                 2020-03          ESP            Spain                   201
2                 2020-03          ESP            Spain                   201
3                 2020-03          BEL          Belgium                    30
4                 2020-03          GBR   United Kingdom                   102

In [4]:
df.shape

(8947455, 4)

In [7]:
df["year_of_collection"] = df["month_sample_collection"].apply(lambda month: int(month.split("-")[0]))

In [9]:
df.groupby("year_of_collection")["turnaround_time_days"].mean()

year_of_collection
2020    138.342505
2021     35.358089
2022     18.134653
Name: turnaround_time_days, dtype: float64